<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analysis App</title>
  </head>

  <body>
    <header>
      <div class="logo">😌😢</div>
    </header>

    <main>
      <section>
        <form id="urlForm">
          <input
            id="name"
            type="text"
            name="url"
            placeholder="Enter URL"
            required />
          <button id="submitButton" type="submit">Submit</button>
        </form>
      </section>

      <section>
        <h2>Form Results:</h2>
        <div id="results">
          <!-- Added elements for better result presentation -->
          <div id="sentimentType"></div>
          <div id="sentimentScore"></div>
          <div id="additionalInfo"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Manal. All rights reserved.</p>
    </footer>
  </body>
</html>
